.question {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 18px;
}

.question__answer {
  color: #198754;
}

.type-subset legend {
  font-size: 18px;
}

fieldset {
  margin-bottom: 20px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 5px;
  margin-right: 6px;
}

label {
  font-size: 18px;
}

.timer {
  display: flex;
  gap: 4px;
  align-items: center;
  opacity: .75;
  font-size: 20px;
}

.scoreboard {
  display: flex;
  gap: 6px;
  margin-bottom: 18px;
}

.scoreboard__score {
  display: flex;
  gap: 6px;
  background-color: #198754;
  color: #fff;
  padding: 6px 8px;
  font-size: 14px;
}

.scoreboard__score--incorrect {
  background-color: #dc3545;
}

.scoreboard__score--average-time {
  background-color: #358fdc;
}

.scoreboard__average-time {
  display: none;
}

.answer-icon {
  pointer-events: none;
}

.answer-icon svg {
  fill: #fff;
}

.badge-icon {
  width: 14px;
  height: 14px;
}

.end-session-btn {
  display: none;
}

.end-session-btn--active {
  display: block;
}

.results {
  display: none;
}

.hidden {
  display: none;
}

.notice--error {
  color: #cd3d64;
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  min-height: 65px;
  margin-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  text-decoration: none;
  color: #212529;
}

.header__link.active {
  font-weight: 600;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.answer-help {
  white-space: pre-wrap;
}